.header{
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0;
  left: 0;
  right:0;
  background-color: white;

  z-index: 100;
}
  .category-section{
     background-color: #fff;
     display: flex;
     flex-direction: row;
     position: fixed;
     z-index: 100;
    justify-content: left;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
      top:60px;
     left: 85px;
     right:0;
  
  }
  @media (max-width: 750px)
  {
    .category-section{
      width: 100%;
    }
  }
  .category{
    margin-top: 9px;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgb(131, 126, 126);
    padding: 0px 10px;
    font-size: 13px;
    font-weight: bold;
    width: auto;
    
  }
  .category:hover{
    cursor: pointer;
  }
  .category:active{
    color: #fff;
    background-color: black;
  }

.left-section{
  display: flex;
  align-items: center;
}
.middle-section{
  display: flex;
  align-items: center;
  flex:1;
  margin-left: 70px;
  margin-right: 35px;
  max-width:500px;
}
.search-button {
  height:35px;
  padding-right: 0px;
  border:none;
  padding-left: 0px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow:outside 1px 2px 3px rgba(0,0,0,1);
  border-radius: 10px;
  
}
.search-button,.voice-button,.upload{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tooltip,.voice-button .tooltip,.upload .tooltip{
  font-family: Roboto,arial;
  font-weight:700;
  position: absolute;
  background-color: gray;
  color:white;
  padding:4px 8px;
  border-radius:4px;
  font-size:12px;
  bottom: -30px;
  opacity: 0;
  transition :opacity 0.15s;
  pointer-events:none;
  white-space:nowrap;
  z-index: 100;
}
.search-button:hover .tooltip, .voice-button:hover .tooltip ,.upload:hover .tooltip{
  opacity:1;
  z-index: 100;
}
.search{
  height:35px;
  
  
}
.voice-button {
  height:32px;
  padding-right: 0px;
  border:none;
  border-radius:30px;
  padding-left:0px;
  box-shadow:outside 1px 2px 3px rgba(0,0,0,1);
}
.voice{
  height: 32px;
  
  border-radius:30px;
}
.search-bar{
  height:38px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  flex: 1;
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 2px;
  box-shadow:inside 1px 2px 3px rgba(0,0,0,0.05);
  width:0;
}
.search-bar::placeholder{
  font-family: Roboto,arial;
  font-size: 16px;
}

.right-section{
 display: flex;
  align-items: center;
  justify-content: space-between;
  width:200px;
  flex-shrink: 0;
}
.menu{
  height:30px;
  margin-left: 20px;
  margin-right: 15px;
  
}
.icon{
  height:60px;
  
}
.choose{
  height:20px;
  
}
.logo{
 width: 35px;
 height:35px;
 vertical-align: middle;
 border-radius:40px;
 margin-right: 20px;
}
.bell{
  height:30px;
  
}
.notifications{
  position: relative;
}
.notification-count{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  font-family: robot, arial ;
  font-size: 12px;
  padding:2px 5px;
  border-radius: 10px;
}
.video{
  height:20px;
}

