.sidebar{
  position: fixed;
  top:70px;
  bottom: 0px;
  left:0px;
  background-color:white;
  width:70px;
  font-size: 12px;
  font-weight: 700;
  z-index:200;
  padding-top: 5px;
 
}
.sidebar-link{
  height: 72px;
  margin-bottom: 15xpx;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover{
  background-color: rgba(239, 239, 239, 1);
  cursor: pointer;
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-size: 10px;
  font-family: Roboto,arial;
  
}
